{% extends 'base.html.twig' %}

{% block title %}Modifier Client {% endblock %}

{% block body %}
    <h1>Modifier Client</h1>

    {{ include('client/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script>
    let adresse = $('.adresse');
    let btn = $('.adresse-btn')
    btn.on('click', function (){
        if (btn.val() === '1') {
            btn.val('0');
            adresse.addClass('visually-hidden');
        } else {
            btn.val('1');
            adresse.removeClass('visually-hidden');
        }
    });
</script>
{% endblock %}